<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include('../partials/nav') %>

    <main class="container mt-4 flex-grow-1">
        <%- body %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>
